.container {
    display:flex;
}

.list {
    border:1px solid #000;
    flex:auto;
    padding:20px;
    margin:5px
}

.ul_no_mark {
    list-style-type: none
}

.div_color {border:1px solid #000;width:10px;height:10px;margin-top:3px;float:left;}
