{% extends 'base.html' %}

{% block title %}
<title>Item list</title>
{% endblock %}

{% block style %}
{% load static %} 
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block headcrumps %}
<div><a href='{% url 'root' %}'>Home</a> > <a href='{% url 'items' %}'>Item list</div>
{% endblock %}

{% block content %}
    <h2>Item list</h2>
        <div class="container">
            {% for item in items %}
               <div class="list">
               <h4><a href='{% url 'item' item.id %}'>{{item.name}} {{ item.brand}}</a><br/>
               Quantity:
               {% if item.count %}
                   {{ item.count }}</li>
               {% else  %}
                   Out of stock
               {% endif %}</h4>
               {{ item.description }}
               </div>
            {% endfor %}
        </div>
    <br/>
{% endblock %}    

